.footers {
    margin-top: 20px;
    background-color: #5EB4E7;
    color: rgb(255, 255, 255);
    padding: 2% 0 1% 0;
    text-align: center;
}

.footer-icon-set {
    padding-bottom: 2px;
    display: flex;
    gap: 10px;
    color: beige;
}

.footers>div>div>div:nth-child(2)>div>div>div>svg>path {
    color: aliceblue;
    stop-color: aliceblue;
    background-color: aliceblue;
}