   .frstFild {
       background: url(../../Images//tabletsBG.jpg) 0% 0% / 100% fixed;
       background-position-y: -200px;
       text-align: center;
   }

   .frstFildContainer {
       margin: 0 auto;
       width: 80%;
       display: flex;
       justify-content: center;
       padding: 40px 20px;
   }

   .frstFildCart {
       padding: 10px 0;
       height: '100px';
       display: flex;
       background-color: rgba(255, 255, 255, .65);
       justify-content: space-around;
       align-items: center;
       border-radius: 5px;
       box-shadow: 0 3px 8px rgb(0 0 0 / 50%), 0 3px 8px rgb(0 0 0 / 23%)
   }

   .headIcons {
       width: 70px;
       color: #34495E;
   }